body {
  background-color: #999999;
  font-family: ratiomodern,serif;
  font-weight: 500;
  font-style: normal;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
header {
  background-color: #66B2FF;
  grid-column: span 12;
  color: white;
  margin-bottom: 24px;
  padding-left: 400px;
  border-top-left-radius:24px;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 10px 10px 10px #666; /* x, y, blur, color */
  text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
  font-family: 'Bangers', cursive;
}
.circle {
  padding: 10px;
  width: 250px;
  height: 250px;
  border: 5px solid green;
  background-color: red;
  color: white;
  border-radius: 500px;
  text-align: center;
}
aside {
  grid-column: span 7;

}

aside img {
    border-radius: 150px;
  width: 35%;
  margin-top: 0px;

}

nav {
  grid-column: span 5;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  background-color: #0000CC;
  margin-bottom: 24px;
  display: inline-block;
margin-bottom: 20px;


}
nav li a {
  display: block;
  padding: 24px;
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  background-color: #0000CC;
   transition: all 1.0s;
}
nav li a:hover{
  background-color: red;
  color: black;
  border-radius: 24px;
  font-size: 2em;
}
main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
article h2 {
border-bottom: 5px solid #0000CC;
padding: 10px 10px 10px 10px;
}


footer{
  grid-column: span 12;
  background-color: #0000CC;
  color: white ;
  text-align: center;
}
footer a {
  color: lightgrey;
  font-size: 2em;
  transition: all 1.0s;
}

footer a:hover {
  color: maroon;
  font-size: 3em;
}
